body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

.bookimg {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 20px auto;
}

.nav-bar {
  display: flex;
  position: fixed;
  right: 0px;
  left: 0px;
  background-color: lightblue;
  box-shadow: 0 0 12px -2px black;
  max-height: 5rem;
  justify-content: space-evenly;
}

.nav-items {
  background-color: lightblue;
  margin: 15px;
  text-decoration: none;
  color: black;
  padding: 0px;
}

.nav-bar :hover {
  background-color: lightblue;
  margin: 16px;
  padding: 0px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttion {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #000000;
  color: ghostwhite;
}
